<IfModule mod_passenger.c>
  PassengerRoot {{passenger_root}}
  PassengerDefaultRuby /usr/bin/ruby{{ruby_version}}
  PassengerFriendlyErrorPages {{ 'On' if passenger_friendly_error_pages else 'Off' }}
</IfModule>
